<div class="sidebar">
  <ul class="sidebar-menu">
    <li class="sidebar-menu-item">
      <a routerLink="/home" class="sidebar-menu-link">Home</a>
    </li>
    <li class="sidebar-menu-item">
      <a routerLink="/home/deposit" class="sidebar-menu-link">Deposit</a>
    </li>
    <li class="sidebar-menu-item">
      <a routerLink="/home/transfer" class="sidebar-menu-link">Transfer</a>
    </li>
    <li class="sidebar-menu-item">
      <a routerLink="/home/withdraw" class="sidebar-menu-link">Withdraw</a>
    </li>
    <!-- Add more menu items as needed -->
  </ul>
</div>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
